.drawerBody {
  padding-left: 16px;
  padding-right: 16px;
}

.header {
  padding-left: inherit;
  padding-right: inherit;
  position: absolute;
  left: 0;
  right: 0;
  font-size: large;
  font-weight: bold;
}

.content {
  padding-top: 66px;
}
