.header {
  display: flex;
  align-items: center;
  font-size: large;
  font-weight: bold;
}

.headerText {
  padding-left: 8px;
}

.drawerBody {
  padding-left: 16px;
  padding-right: 16px;
}

.rowContainer {
  padding-top: 10px;
}
